include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_eta *.css
recursive-include erpnext_eta *.csv
recursive-include erpnext_eta *.html
recursive-include erpnext_eta *.ico
recursive-include erpnext_eta *.js
recursive-include erpnext_eta *.json
recursive-include erpnext_eta *.md
recursive-include erpnext_eta *.png
recursive-include erpnext_eta *.py
recursive-include erpnext_eta *.svg
recursive-include erpnext_eta *.txt
recursive-exclude erpnext_eta *.pyc