include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_egypt_compliance *.css
recursive-include erpnext_egypt_compliance *.csv
recursive-include erpnext_egypt_compliance *.html
recursive-include erpnext_egypt_compliance *.ico
recursive-include erpnext_egypt_compliance *.js
recursive-include erpnext_egypt_compliance *.json
recursive-include erpnext_egypt_compliance *.md
recursive-include erpnext_egypt_compliance *.png
recursive-include erpnext_egypt_compliance *.py
recursive-include erpnext_egypt_compliance *.svg
recursive-include erpnext_egypt_compliance *.txt
recursive-exclude erpnext_egypt_compliance *.pyc
